---
---
#attribution {
    display: none;
}

.text-muted {
    text-align: center !important;
}

.progress-bar.photoshop {
  background-color: #31A8FF !important;
}

.progress-bar.illustrator {
  background-color: #FF9A00 !important;
}

@import "portfolYOU";